@charset "UTF-8";

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #007FA3;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    width: 100%;
    color: #212529;
    background-color: var(--bs-light);
    font-family: var(--bs-font-sans-serif);
}

form {
    /* This form should be separated from other elements by 1em */
    margin: 1em;
    /* There must be 1em between the content and the border of this element */
    padding: 1em;
}

fieldset {
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.75);
    /* There must be 1em between the content and the border of this element */
    padding: 1em;
    /* It should have no border */
    border: none;
    /* Its background should be white */
    background: white;
}

.width-80 {
    /* The element with this class should be 80% of the width and it must be centered */
    max-width: 80%;
    /* Read how to center elements with margin here: http://learnlayout.com/margin-auto.html*/
    margin: 0 auto;
}

.form-group {
    /* This element must use 100% of the width */
    width: 100%;
    /* It should have a separation of .5em from elements on top of it and below it*/
    margin-top: .5em;
    margin-bottom: .5em;
}

.form-label {
    /* The text of a label must be bold */
    font-weight: bold;
}

.btn-block {
    /* This element should use 100% of the width */
    width: 100%;
}

.login, .logout {
    min-width: 130px;
}

.form-control {
    /* There must be 4px on top of the text and below the text of an input with this class */
    padding-top: 4px;
    padding-bottom: 4px;
    /* It should have a separation of .5em from elements on top of it and below it */
    margin-top: .5em;
    margin-bottom: .5em;
    /* You'll need to use the `calc` function to make the width of this element match the width of the button */
    /* See the example at: https://developer.mozilla.org/en-US/docs/Web/CSS/calc */
    /* HINT: Examples are available at: https://glitch.com/~input-button-width */
    width: calc(100% - 4px);
}

.account-form {
    margin: 16px auto;
    max-width: 400px;
    padding: 8px
}


